<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wearun.giux.com.wearchrono">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".NotificationReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.giux.wearun.ACTION_START"/>
                <action android:name="com.giux.wearun.ACTION_LAP"/>
                <action android:name="com.giux.wearun.ACTION_STOP"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>
